#root{
    background-color: lightblue;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;

}


/* navbar */
.nav-holder{
    background-image: url(../src/assets/new_york.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    font-size: 36px;
    
    color: aliceblue;
}

.brand{
    font-size: 70px;
    margin-left: 30px;
    
}

.nav-item-container{
    list-style-type: none;
    color: aliceblue;
    display: flex;
    
}

.nav-item{
    margin-left: 100px;
    padding: 0px 20px 0px 20px;
    
}
  
#navtab{
    padding: 0px;
}
.nav-item{
    margin-left: 120px;
    padding: 0px 20px 0px 20px;
    
}
.nav-item:hover{
    background-color: blueviolet;
    border-radius: 90px;
}

/* nav item active color */
.nav-item a.active{
    color: aqua;
}
.nav-links{
    text-decoration:none;
    
}
.nav-item-container{
    list-style-type: none;
    color: aliceblue;
    display: flex;

}

#navbarNav{
    margin-left: 100px;
}

.content-container{
    margin: 50px 150px 100px 150px;
}

.content-container p{
    font-size: 25px;
    font-weight: bold;;
    
}

/* About */
.Avatar{
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
 
}
/* portfolio */
.card{
    margin: 30px;
}
.portfolio-pic{
    width: 50px;
    height: 50px;
}

.card-img{
    height:300px;


}

.github-link-pic{
    width:50px;
    height: 50px;
    margin-top: 10%;
    margin-left:35%
}
.github-link-pic:hover{
    width:80px;
    height: 80px;
}

.deployed-link-pic{
    width:50px;
    height: 50px;
    margin-top: 10%;
    margin-left:5%
}

.deployed-link-pic:hover{
    width:80px;
    height: 80px;
}


/* contact */
.form-box{
    width: 40%;
    margin-bottom: 20px;
}


/* Resume */
.resume-download{
    text-decoration: none;
    color:black;
   

}

/* footer */
.footer{
    background-color: lightblue;
    height: 100px;
    width: 100%;


}

.footer-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.foot-pic{
    width: 50px;
    height: 50px;
    margin: 40px;
}

.foot-pic:hover{
    width:80px;
    height: 80px;
}




@media (max-width: 600px) {
    .brand{
        font-size: 35px;
    }
    .nav-item{
        font-size: 20px;
        margin: 10px;
        padding: 0px;
    }
    .content-container{
        margin: 10px;
    }
    .content-container p{
        font-size: 10px;
        font-weight: none;
    }


}

@media (max-width: 1400px) {
    .brand{
        font-size: 50px;
    }
    .nav-item{
        font-size: 30px;
        margin: 10px;
        padding: 0px;
    }

}
